[2020-12-12 10:20] MCM-Mike opened #1 "[GRIN-Node] Choose a different default directory for grin blockchain storage"
**Description**:
Choose a different path for storing the GRIN blockchain.

**Prerequisites**:
Run a GRIN-Node and make changes the following changes to you grin-server.toml:

**grin-server.toml**
[code]

**Expected result:**
After the GRIN-Node is fully synced all related GRIN blockchain files should be in the specified folder.
Example:

[code]

[2020-12-12 10:31] MCM-Mike opened #2 "[GRIN-Node ] Use TLS certificates"
**Description**:
Activate TLS on GRIN-Node

**Prerequisites**:
This test can be executed by someone who has access to a server with

1. static IP accessible from outside
2. open port unprotected from firewall
3. domain and signed certificate available for test

Run a GRIN-Node and make changes the following changes to you grin-server.toml to activate TLS certificate:

grin-server.toml

[code]

**E

[2020-12-12 10:38] MCM-Mike opened #3 "[GRIN-Node] Choose listen address for services"
**Description:**
Choose a different IP address on which services will listen

**Prerequisites:**

1. setup a new host in `/etc/hosts` such as `grinwallet` pointing to `localhost` or `127.0.0.1`
2. edit `grin-server.toml` by changing `api_http_addr = "127.0.0.1:3413"` to `api_http_addr = "grinwallet:3413"`
3. demonstrate request is working

**Expected result:**
After the GRIN-Node is fully synced,

[2020-12-12 10:46] MCM-Mike opened #4 "Example of an not yet defined test-case, which needs review"
**Description**:
XXXX

**Prerequisites:**
XXXX

`XXXXX`

**Expected result:**
XXXXX

[2020-12-12 10:54] phyro opened #5 "[GRIN-Node] Enable archive mode"
**Description**:
Activate `archive_mode` on GRIN-Node

**Prerequisites**:
Run a GRIN-Node and make changes the following changes to you grin-server.toml to make it an archive node:

grin-server.toml

[code]

**Expected result**:
The GRIN-Node should sync normally and it should preserve all historical blocks.

[2020-12-12 10:56] MCM-Mike opened #6 "[GRIN-Wallet] Seed restore test v5.0.x wallet"
**Description:**
Restore GRIN-Wallet version 5.0.x from your backup seed.

**Prerequisites:**
Setup your Grin-Wallet version 5.0.x and safe your seed. Then perform a restore test.

**Expected result:**
Your funds should still be available after successful restore test.

Include the output of command

[code]

and your environment

[code]

[2020-12-12 11:04] MCM-Mike opened #7 "[GRIN-Wallet] Seed restore test v4.x wallet"
**Description**:
Restore Grin-Wallet version 5.x from your backup seed.

**Prerequisites**:
Setup your Grin-Wallet version 4.x and save your seed. Then perform a restore test.

**Expected result:**
Your funds should still be available after successful restore test.

Include the output of command

[code]

and your environment

[code]

[2020-12-12 11:11] MCM-Mike opened #8 "[GRIN-Wallet] test late locking"
**Description**:
Test the new late locking feature in Grin-Wallet in reference to https://github.com/mimblewimble/grin-wallet/pull/530 & https://github.com/mimblewimble/grin-wallet/pull/485

Late locking should work for both flows:
1. sender-initiated `send -> receive -> finalize` and
2. receiver-initiated (invoice) flow `invoice -> pay -> finalize`

**Prerequisites**:
Setup two GRIN-Wallets (1) +

[2020-12-12 11:18] MCM-Mike opened #9 "[GRIN-Node] test if API v1 disabled"
**Description:**
Test if the APIv1 is really disabled and can not be used anymore.
APIv1 should be disabled now based on: https://github.com/mimblewimble/grin/pull/3503

**Prerequisites**:
Setup your Grin-Node and try to access the API v1.

Some possible tests you could do:
[code]

**Expected result:**
API v1 should be not reachable and the grin-node should not be answering any requests towards AP

[2020-12-12 13:21] MCM-Mike opened #10 "[GRIN-Wallet] change accept_fee_base for - testnet only"
**Description**:
This test is for testnet only.

**Prerequisites:**
Grin-Node fully synced and two (2) Grin-Wallets ready to use.
**Add** the following line to your `grin-wallet.toml` file on both wallets. Test each cases individually.

**Case 1)**
[code]
**Case 2)**
[code]
and send GRINs from one wallet to the other wallet.
Make sure on both wallets have been applied the changes.

**Expected resu

[2020-12-12 16:26] MCM-Mike opened #11 "[GRIN-Node] test if TUI is working"
Description:
Test if `tui` can be turned off , on a Grin-Node

**Prerequisites**
Setup your Grin-Node and make the following changes to your `grin-node.toml` file:
[code]
and restart your Grin-Node.

**Expected result:**
After node restart , you should **not**  see a graphical interface similar to this:

![image](https://user-images.githubusercontent.com/2338287/101989194-0964ce00-3c9f-11eb-9686-1

[2020-12-12 16:34] MCM-Mike opened #12 "[GRIN-Wallet] wrong foreign api password"
**Description:**
Give the wallet the wrong foreign API password.

**Prerequisites:**
Setup a Grin-Wallet.

Give the wallet the wrong foreign API password, run `grin-wallet info`.  verify that the error includes the cause **(authorization denied).**

**Expected result:**
It should fail. Expect the error message to not indicate that password is incorrect, instead it should report `ResponseError erro

[2020-12-12 16:38] MCM-Mike opened #13 "[GRIN-Wallet] delete grin-wallet.toml and then run grin-wallet"
**Description**
Verifying if the GRIN-Wallet handles missing `grin-wallet.toml` file

**Prerequisites**
Setup a GRIN-Wallet. Verify the wallet is working by running `info` command. Then delete the `grin-wallet.toml` file and start the wallet again.

**Expected result:**
GRIN-Wallet should either re-create the config toml file or at indicate that its missing.

[2020-12-12 16:55] MCM-Mike opened #14 "[GRIN-Node] - Full sync from scratch"
**Description**:
Sync a GRIN-Node from scratch.

**Prerequisites**
Start the most recent beta of GRIN-Node `v5.0.0-beta.2` and wait until fully synced.
(No archive mode)

**Expected result:**
Should sync without any problems.

[2020-12-13 04:02] bladedoyle opened #15 "grin-wallet uses .api_secret when talking to grin node /v2/foreign"
start with clean ubuntu 20:
---------------

`cd ~`

[code]

`sudo bash -c "set -ex &&     apt-get update &&     apt-get --no-install-recommends --yes install     clang     libclang-dev     llvm-dev     libncurses5     libncursesw5     cmake     git locales libssl-dev pkg-config" `

[code]

`./target/debug/grin`

(Let that run, start a new shell)

[code]

(wait for node to finish syncing)

`./targ

[2020-12-13 08:08] MCM-Mike commented on #15
made small formatting changes.

[2020-12-13 10:03] phyro opened #16 "[GRIN-Wallet] Test Slatepack flow (Tor)"
**Description**:
Test that transacting with Slatepacks through Tor works.

Tor transacting should work for both flows:
1. sender-initiated `send -> receive -> finalize` and
2. receiver-initiated (invoice) flow `invoice -> pay -> finalize`

**Prerequisites**:
Setup two GRIN-Wallets (1) + (2) and send funds from wallet (1) to wallet (2) via Slatepacks **through Tor**.

**Example:**
`grin-wallet send

[2020-12-13 10:10] phyro opened #17 "[GRIN-Wallet] Test Slatepack flow (Text)"
**Description**:
Test that transacting with Slatepacks works by outputting text.

Slatepack text transacting should work for both flows:
1. sender-initiated `send -> receive -> finalize` and
2. receiver-initiated (invoice) flow `invoice -> pay -> finalize`

**Prerequisites**:
Setup two GRIN-Wallets (1) + (2) and send funds from wallet (1) to wallet (2) via Slatepacks **through Text method**.

**Ex

[2020-12-13 11:37] phyro opened #18 "[GRIN-Wallet] Slatepack payment proof export and verification"
**Description**:
By default, whenever a transaction is sent to a destination Slatepack Address, a payment proof is created automatically. Test that export and verification of a payment proof works.

_Note that as of right now, the payment proofs only work for the sender-initiated flow. They can't be done with the receiver-initiated flow (invoice)._

**Prerequisites**:
Setup two GRIN-Wallets (1) +

[2020-12-13 11:56] phyro opened #19 "[GRIN-Wallet] Slatepack payment proof export and verification [invalid-proof]"
**Description**:
By default, whenever a transaction is sent to a destination Slatepack Address, a payment proof is created automatically. Test that export and verification of a payment proof **does not work for invalid proofs**.

_Note that as of right now, the payment proofs only work for the sender-initiated flow. They can't be done with the receiver-initiated flow (invoice)._

**Prerequisites**

[2020-12-13 15:02] DavidBurkett commented on #5
By "all historical blocks", we really mean all blocks since archive_mode was enabled. We do not currently retrieve old blocks from peers.

[2020-12-13 17:38] bladedoyle opened #20 "node api becomes unresponsive while the node zips chain_data"
Problem:
  The node becomes unresponsive during "grin_util::zip - compress" of chain data.   The api does not respond while that zip is running.

Testcase:
  Query the api at regular intervals (10 seconds) and display errors for API timeouts.  The loop should print timestamps and indicate when there is a read timeout.
  Wait and watch the nodes logs until there is a chain_data zip event.  ex:

[2020-12-13 17:45] bladedoyle opened #21 "rewind_single_block causes node to become unresponsive"
Some causes of rewind_single_block were fixed before 5.0.beta2 but the issue remains.

Issue:   The node enters a loop of "rewind_single_block" and becomes unresponsive to API and fails to sync new blocks.

Testcase:
  Start with an archive node
  Call the nodes "get_block" API to fetch each block from 0 to tip.
  Observe the node logs for message like `20201213 16:47:41.127 WARN grin_chain::txhas

[2020-12-14 16:11] DavidBurkett opened #22 "[GRIN-NODE] Make sure v5.x nodes can still communicate with v4.x nodes"
Description:
The v5.x release switched to protocol version 1000, which made some slight changes to the p2p message formats. When connecting to v4.x nodes (protocol version 2 or 3), the v5.x node should use the old protocol version when communicating with the v4.x peer.

Prerequisites:
Start a v5.x node and watch the peers list for nodes with protocol version 2 and protocol version 3. Use the [get

[2020-12-14 18:08] MCM-Mike opened #23 "[GRIN-Node] check downloaded checksum hash value"
**Description**
Download GRIN-Node and compare the downloaded archive checksum,  against the given hash values (sha256).

**Prerequisites**
Download https://github.com/mimblewimble/grin/releases/latest and check if the checksum hash values are correct.

**Expected result:**
They should match.

[2020-12-14 18:09] MCM-Mike opened #24 "[GRIN-Wallet] - check downloaded checksum value"
**Description**
Download GRIN-Wallet and compare the downloaded archive checksum, against the given hash values (sha256).

**Prerequisites**
Download https://github.com/mimblewimble/grin-wallet/releases/latest and check if the checksum hash values are correct.

**Expected result:**
They should match.

[2020-12-14 21:56] MCM-Mike opened #25 "[GRIN-Wallet] testing cancel transaction"
**Description**
The goal of this test is to test the procedure of cancelling the transaction.

**Prerequisites**:
1. Setup two GRIN-Wallets (1) + (2)
2. send funds from wallet (1) to wallet (2) via Slatepacks **through Text method**.
3. after wallet (2) `receive` the transaction but before you finalize run the `cancel` [command](https://docs.grin.mw/getting-started/wallet-handbook/#cancel)

**Expe

[2020-12-15 02:04] marekyggdrasil commented on #22
@DavidBurkett thanks for defining this test case, it looks good but I am concerned about one thing - we should make it a bit more formal. In the current form it looks difficult to document the findings and it might be hard for us to review the test results. Perhaps there is a better way of documenting connected peers so that they are being logged? Maybe using API call?

[2020-12-15 06:59] MCM-Mike opened #26 "List all GRIN related public communication channels"
**Description**
List all GRIN related public communication channels where users can get help, get help for GRIN or just discuss the current GRIN market situation.

**Expected result:**
A nice formatted list, as a reference for new users where to find the communication channels.

[2020-12-15 11:34] marekyggdrasil opened #27 "[GRIN-Wallet][Owner API] testing list of accounts method"
**Description**
Testing the accounts method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet with some accounts setup

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run an encrypted request to [acc

[2020-12-15 11:36] marekyggdrasil opened #28 "[GRIN-Wallet][Owner API] testing the create wallet method"
**Description**
Testing the create wallet method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run an encrypted request to [create wallet method](h

[2020-12-15 11:39] marekyggdrasil opened #29 "[GRIN-Wallet][Owner API] testing the init send tx method"
**Description**
Testing the init send tx method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Prepare two wallets (1) and (2), run wallet (1) in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run a encrypted reque

[2020-12-15 11:44] marekyggdrasil opened #30 "[GRIN-Wallet][Owner API] testing list of cancel transaction method"
**Description**
Testing the cancel transaction method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js template](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) to run a encrypted request to [cancel transaction method](https://docs.rs/grin_wallet_api/4.0.0/grin_wallet_api/s

[2020-12-15 11:48] marekyggdrasil opened #31 "[GRIN-Wallet][Owner API] testing the finalize transaction method"
**Description**
Testing the finalize transaction method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run a encrypted request to [finalize transact

[2020-12-15 11:49] marekyggdrasil opened #32 "[GRIN-Wallet][Owner API] testing the post transaction method"
**Description**
Testing the post transaction method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run a encrypted request to [post transaction meth

[2020-12-15 11:51] marekyggdrasil opened #33 "[GRIN-Wallet][Owner API] testing the get stored transactions method"
**Description**
Testing the post transaction method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet that has transactions

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run a encrypted request to

[2020-12-15 11:57] marekyggdrasil opened #34 "[GRIN-Wallet][Owner API] testing retrieve payment proof method"
**Description**
Testing the retrieve payment proof method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet
3. A complete transaction that have been created with a payment proof.
4. An incomplete transaction.

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https

[2020-12-15 12:00] marekyggdrasil opened #35 "[GRIN-Wallet][Owner API] testing verify payment proof method"
**Description**
Testing the verify payment proof method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet
3. A payment proof

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run a encrypted request to

[2020-12-16 12:37] marekyggdrasil opened #36 "[GRIN-Wallet] Test of wallet leaves TOR zombie processes"
**Description**
Testing the verify payment proof method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Perform many TOR transactions
3. Save output from system task manager such as `top`

**Expected result:**

Check if you can make TOR processes hang in the background as it was reported here https://github.co

[2020-12-16 15:47] bladedoyle opened #37 "[GRIN-Wallet][Owner API] Calling wallet owner API "scan" method with invalid height"
**Description**
Test a call to "scan()" through wallet owner api and pass an invalid "start_height".

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Run GRIN-Wallet in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run a encrypted req

[2020-12-18 13:18] marekyggdrasil opened #38 "[GRIN-Node] - Full sync from scratch - macOS"
**Description**:
Sync a GRIN-Node from scratch on macOS

**Prerequisites**
Start the most recent beta of GRIN-Node `v5.0.0-beta.2` and wait until fully synced.
(No archive mode)

**Expected result:**
Should sync without any problems.

[2020-12-18 13:18] marekyggdrasil commented on #14
I figured it would be also good to test macOS https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/issues/38

[2020-12-18 13:21] chandrashekar10 commented on #38
I would like to take issue 38

[2020-12-18 14:53] stakervali opened #39 "[GRIN-Wallet][Owner API] Testing change_password method"
**Description**
Testing the change password method from the Owner API

Prerequisites

    GRIN-Node
    GRIN-Wallet

Test procedure

Calculate checksum of seed file, save the output.
Change wallet password using [owner_api::change_password](https://docs.rs/grin_wallet_api/4.0.0/grin_wallet_api/struct.Owner.html#method.change_password) method.
- For old password parameter use existing password
- Fo

[2020-12-18 14:58] stakervali opened #40 "[GRIN-Wallet][Owner API] Testing change_parameter method with wrong old password"
Description
Testing the change password method from the Owner API with wrong old password

Prerequisites

GRIN-Node
GRIN-Wallet

Test procedure

Change wallet password using owner_api::change_password method.
For old password parameter use any non-blank password different from existing password

Expected result:
It should fail. Wallet should stay be openable with existing password.

Include the ou

[2020-12-18 15:14] stakervali opened #41 "[GRIN-Wallet][Owner API] Testing non-default account"
**Description**
Testing the retrieve payment proof method from the Owner API

**Prerequisites**

    GRIN-Node
    GRIN-Wallet

**Test procedure**

   Create a new account with name  other_account.
   Get address of new account with account flag
       grin-wallet -a other_account
   Make a transaction with new account

**Expected result:**

grin-wallet address command should return a new address.

[2020-12-19 07:37] MCM-Mike commented on #9
@marekyggdrasil if needed please rewrite this test-case and make it available.

[2020-12-19 07:39] MCM-Mike commented on #25
@marekyggdrasil @bladedoyle can one of you please rewrite this test-case or delete if duplicate.

[2020-12-19 08:43] mojitoo commented on #17
### Prerequisites:

* Wallet 1 (sender) : grin12wktxlyfx62wx48ldn55katd8zm5d6qfa6mupt9r4uul8eqxagsqct3je5
 Version : grin-wallet 4.0.0
* Wallet 2 (receiver) :  grin1jdj2w0fh8haq9pfuvjmjrev5f4gs34n4n7fnsfmuwf7j09x4v9ws79nq8d
Version : grin-wallet 4.0.0

## Step 1 (Wallet 1 : sender side)

The send command is the first step of building an interactive transaction. Both wallets will interact in an asy

[2020-12-19 09:08] mojitoo commented on #17
for the second flow, i found a bug @marekyggdrasil . i will send you a secret gist link

[2020-12-19 09:19] chandrashekar10 commented on #38
Description of the problem:

Sync a GRIN-Node from scratch on macOS

1.  I have synced GRIN-Node from Scratch on my Computer with the following specifications
[code]
2. The Grin node synced without any problem and the relevant logs are as follows:

[code]

The Basic status output was:

[code]

The Peer and Sync process output was as follows:

[code]

[2020-12-19 09:43] mojitoo commented on #18
### Prerequisites:

* Wallet 1 (sender) : grin12wktxlyfx62wx48ldn55katd8zm5d6qfa6mupt9r4uul8eqxagsqct3je5
 Version : grin-wallet 4.0.0
* Wallet 2 (receiver) :  grin1vm68yyu6f5gyz7tk7zwjf2ws5vu44wkyurd84as0tnums2fsahks8x3zjc
 Version : grin-wallet 4.0.0

## Step 1 (send)

The send command is the first step of building an interactive transaction. The transaction can either be an instant synchronous

[2020-12-19 10:40] mojitoo commented on #19
### Prerequisites:

* Valid proof of payment ([issue 18](https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/issues/18))

## Step 1 (altering a valid proof of payment)

We can make the proof invalid by exporting the payment proof and slightly changing the amount or sender_address value (or possibly alter the signature of the receiver or sender to make only one of them invalid)

[code]

l

[2020-12-19 11:12] #38 closed

[2020-12-19 11:17] chandrashekar10 commented on #13
**Description :**
Verifying if the GRIN-Wallet handles missing grin-wallet.toml file

**Prerequisites :**
Setup a GRIN-Wallet. Verify the wallet is working by running info command. Then delete the grin-wallet.toml file and start the wallet again.

**Expected result:** 
GRIN-Wallet should either re-create the config toml file or at indicate that its missing.

Step 1:  The grin wallet has been set-u

[2020-12-19 11:30] marekyggdrasil commented on #17
@chandrashekar10 can you please help reproducing? @mojitoo found some problems and he is using Catalina, my wallet doesn't even run since I upgraded to Catalina due to this issue https://github.com/mimblewimble/grin-wallet/issues/554

I saw [here](https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/issues/38#issuecomment-748447215) you have Mojave and already appropriate testing setup, l

[2020-12-19 11:44] mojitoo opened #42 "[GRIN-Wallet] Test slatepack flow (Tor) in interactive mode"
**Description:**
Test that transacting with Slatepacks through Tor works in **_interactive mode_**

Tor transacting should work for both flows:

- sender-initiated send -> receive -> finalize

**Prerequisites:**
Setup two GRIN-Wallets (1) + (2) and send funds from wallet (1) to wallet (2) via Slatepacks through Tor.

Example:
[code]

You will create a transaction and check the behavior of wallet (

[2020-12-19 12:22] #18 closed

[2020-12-19 13:28] marekyggdrasil commented on #17
I assign myself as well, but just to be clear, I am not participating in the challenge, I will just reproduce the results on Linux so that we have Catalina vs Mojave vs Linux.

[2020-12-19 13:40] mojitoo commented on #8
i think that --late-lock flag is only working for flow #1 with send command ? am i right ?

[2020-12-19 15:07] mojitoo commented on #8
### Prerequisites:

* Wallet 1 (sender) : grin12wktxlyfx62wx48ldn55katd8zm5d6qfa6mupt9r4uul8eqxagsqct3je5
   grin-wallet 5.0.0-beta.3
* Wallet 2 (receiver) :  grin1jdj2w0fh8haq9pfuvjmjrev5f4gs34n4n7fnsfmuwf7j09x4v9ws79nq8d
  grin-wallet 5.0.0-beta.3

## Step 1 (sender side)

By using --late-lock flag, no UTXOs will be locked on the wallet. Instead, they will only be locked as late as possible, nam

[2020-12-19 18:53] goyle commented on #14
`v5.0.0-beta.3` is the latest beta version now. Should that be the test?

[2020-12-19 19:03] stakervali commented on #14
@goyle, Please present your test results for both the latest version: https://github.com/mimblewimble/grin/releases/tag/v5.0.0-rc.1 and the one before , which is: https://github.com/mimblewimble/grin/releases/tag/v5.0.0-beta.3

[2020-12-19 22:24] goyle commented on #14
Running into some errors in Debian 10 that did not appear in Ubuntu 20.04.1 LTS. I will wait until the node fully syncs in Ubuntu.

[2020-12-19 23:16] marekyggdrasil commented on #8
@mojitoo looks great! Could you also test the second flow `invoice -> pay -> finalize`? From the issue description it looks like late locking should work for both flows.

[2020-12-20 04:11] MCM-Mike commented on #14
would it be possible to share the errors on Debian 10?
If you would also try to test it additionally on Debian 10 I would recommend a free additional GRIN t-shirt from our t-shirt sponsor.

[2020-12-20 06:15] chandrashekar10 commented on #17
Environment

               Computer Model:  MacBook Air 2019 model
               Operating system: macOS Mojave version 10.14.6
               Rustup version:  rustc 1.48.0 (7eac88abb 2020-11-16)
        Clang version:  clang version 11.0.0
                      Target: x86_64-apple-darwin18.7.0
                      Thread model: posix
        Open SSL:    LibreSSL 2.6.5

I have two wallets

[2020-12-20 06:38] marekyggdrasil commented on #8
sorry for confusion @mojitoo, I think you were right, `--late-lock` is a feature of only sender-initiated flow. We can even see such sub-command exists only for `send` command.

https://github.com/mimblewimble/grin-wallet/blob/429db61bb7ef42f009abb8886fd90221301dfc74/src/bin/grin-wallet.yml#L110-L113

Reviewed and closing. Thanks!

[2020-12-20 06:38] #8 closed

[2020-12-20 07:06] mojitoo commented on #27
### Prerequisites:

* account 1 : default (Version : grin-wallet 4.0.0)
* account 2 : newaccount (Version : grin-wallet 4.0.0)
* [Wallet_v3.py](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py)

## Step 1 (Runs the wallet's local web API)

[code]
HTTP Owner successfully started.

## Step 2 (Run wallet_v3.py)

Before runnning the script, we need to make sure to edit the configuration.

#c

[2020-12-20 09:11] goyle commented on #14
@MCM-Mike Thank you for the reward, but I found out the error might not be relevant as it is not purely from the Grin node but may be from my environment, which is virt-manager and qemu/kvm. It looks to be a strange edge case that impacts both Debian and Ubuntu. I ran the virtual machine disk image files stored on a secondary hard drive and resulted in a peers lock error in the node and couldn't s

[2020-12-20 09:56] goyle commented on #14
# Grin Node v5.0.0-beta.3

## Description
Sync a GRIN-Node from scratch. This test case will be for **Debian 10**.

*System Information*: `Linux debian 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux`
\
*Testing Environment*: virt-manager and Qemu/KVM

## Prerequisites
Grin node version will be **v5.0.0-beta.3**. Archive mode is disabled. Debug log is enabled.

## Expected r

[2020-12-20 11:09] cekickafa commented on #1
I have tested version grin-5.0.0-beta.3 on windows 10 Home (1903)
I have first run grin to generate server-toml then edited d_root
d_root = "C:\\GrinTest"
I run and sync node successfully. Node is synced fully.

Following files are generated in folder  "C:\\GrinTest"
- header (folder)
- Imdb (folder)
- peer (folder)
- txhashset (file)

Following files are in default location C:\Users\username\.gri

[2020-12-20 12:11] marekyggdrasil commented on #27
Awesome!

[2020-12-20 12:11] #27 closed

[2020-12-20 12:15] marekyggdrasil commented on #1
Good work @cekickafa ! Could you copy paste some terminal outputs? I think on Windows you can list content of directory with ‘dir’ command.

also, could you list which folders are missing? Or better provide a terminal output that shows they are missing

[2020-12-20 12:19] chandrashekar10 commented on #23
**Description**
Download GRIN-Node and compare the downloaded archive checksum, against the given hash values (sha256).

I downloaded the latest version of grin

```https://github.com/mimblewimble/grin/releases/tag/v4.1.1```

and ran the following command

      Chandrashekars-MacBook-Air:Downloads chandrashekar$ shasum -a 256 grin-v4.1.1-macos.tar.gz
      cb5f0fd524f8d3116c5ebeca2d8e901fe7dd2be2

[2020-12-20 12:36] cekickafa commented on #1
Content of folder in modified path (C:\GrinTest)

[code]

These are the missing files/folders:

[code]

[2020-12-20 12:56] marekyggdrasil commented on #23
Excellent! Thank you!

[2020-12-20 12:56] #23 closed

[2020-12-20 13:11] marekyggdrasil commented on #17
I finished working on reproducing the test and @chandrashekar10 also sent me his findings in a secret gist repository. Great work everyone!

[2020-12-20 13:11] #17 closed

[2020-12-20 13:21] mojitoo commented on #34
### Prerequisites:

* Wallet with a completed transaction (tx_id=22) and an incompleted transaction (tx_id=25)
 Version : grin-wallet 4.0.0

## Step 1 (Runs the wallet's local web API)

[code]
HTTP Owner successfully started.

## retrieving payment proof for a completed transaction (tx_id=22)

Before runnning the script, we need to make sure to edit the configuration.

#change to your grin owner_a

[2020-12-20 13:23] marekyggdrasil commented on #14
Great work @goyle !

[2020-12-20 13:24] #14 closed

[2020-12-20 13:24] pnnaoned commented on #24
Description
Download GRIN-Wallet and compare the downloaded archive checksum, against the given hash values (sha256).

- I downloaded the latest version of grin-wallet v4.0.0 for Windows from: https://github.com/mimblewimble/grin-wallet/releases/tag/v4.0.0

- the SHA256 HASH displayed on the webiste https://grin.mw/download:
`25108E0BF17766E3D4B83BCFF66371F712FF850F6E0E7F563E8F070575AFE8CA`

- I r

[2020-12-20 13:26] marekyggdrasil commented on #24
Awesome @pnnaoned thanks!

[2020-12-20 13:26] #24 closed

[2020-12-20 13:32] marekyggdrasil commented on #1
Now its clear, thanks!

[2020-12-20 13:32] #1 closed

[2020-12-20 13:35] #34 closed

[2020-12-20 14:00] mojitoo commented on #36
how can i Perform many TOR transactions ? by opening multiple terminal ?

[2020-12-20 14:20] marekyggdrasil commented on #27
@mojitoo it just occurred to me, if you could also include the JSON payload that you submit to API (just the one that gets encrypted) that would also be very useful.

[2020-12-20 15:10] #13 closed

[2020-12-20 15:15] marekyggdrasil commented on #34
@mojitoo I forgot to ask, can you please provide version of wallet that has the owner api listener on?

[2020-12-20 15:15] marekyggdrasil commented on #27
@mojitoo I forgot to ask, can you please provide version of wallet that has the owner api listener on?

[2020-12-20 15:16] marekyggdrasil commented on #18
@mojitoo I forgot to ask, can you please provide version of the wallet?

[2020-12-20 15:17] marekyggdrasil commented on #17
@mojitoo and @chandrashekar10  I forgot to ask, can you please provide versions of your wallets?

[2020-12-20 15:18] marekyggdrasil commented on #13
@chandrashekar10  I forgot to ask, can you please provide version of the wallet? you can run

[code]

[2020-12-20 15:19] marekyggdrasil commented on #8
@mojitoo  I forgot to ask, can you please provide version of the wallet? you can just provide the output

[code]

[2020-12-20 15:33] chandrashekar10 commented on #17
**The version of wallets used in my test**

The first wallet grin-wallet version is

[code]

The second wallet newwallet version is

[code]

[2020-12-20 16:22] marekyggdrasil commented on #36
I see the problem. Let's modify it a bit.

1. Run wallet in owner API listener mode and check it's process ID
2. Perform TOR transaction using another wallet and pay attention if TOR process gets spawned by the wallet
3. When transaction is finalized expect TOR process to get killed.

Replicate for 1, 2, 3 transactions in parallel, if that is not sufficient we can open a new issue (harder) for a m

[2020-12-20 16:33] mojitoo commented on #36
do you mean i need to perform a transaction from wallet 2 to wallet 1 running in owner api mode ?

[2020-12-20 17:13] goyle commented on #14
@marekyggdrasil I also completed the test for **v5.0.0-rc.1** on Debian 10. Should I also present those results too?

[2020-12-20 17:20] mojitoo commented on #36
### Prerequisites:

* Wallet 1 : grin12wktxlyfx62wx48ldn55katd8zm5d6qfa6mupt9r4uul8eqxagsqct3je5
[code]

After running the wallet in listener mode and make sure it was reachable, i can see by running _top_ command that **one** tor process was spawned. After 3 consecutive transactions, wallet didn’t spawn another tor process but reused same one. after i turned off the listen mode, tor process was k

[2020-12-20 18:39] goyle commented on #11
## Description
Test if TUI can be turned off on a Grin-Node.

## Prerequisites
Setup your Grin-Node and make the following changes to your grin-node.toml file:

[code]

and restart your Grin-Node.

## Expected result
After node restart, you should not see a graphical interface.

## Building the Node
These steps for building the node was done previously for issue #14. The node version is **v5.0.0-r

[2020-12-21 02:33] marekyggdrasil commented on #11
Well done!

[2020-12-21 02:33] #11 closed

[2020-12-21 02:49] marekyggdrasil commented on #36
I'm convinced. Looks good to me! Please just include your wallet version in the last comment by sending the output of

[code]

[2020-12-21 02:49] #36 closed

[2020-12-21 04:48] #19 closed

[2020-12-21 07:07] mojitoo commented on #41
OS : Mac os Catalina
Grin wallet version : v5.0.0

### create a new account :

The account command is used to manage wallet accounts. To create a new account, pass the argument -c --create.

[code]
### check account creation :

Let's print a list of your existing accounts and check the newly created account .
[code]

### get the new address :
[code]

### check account TX history (0 transaction) :

[2020-12-21 09:40] Paouky commented on #42
grin-wallet 5.0.0-beta.4
Linux 4.15.0-122-generic #124-Ubuntu SMP Thu Oct 15 13:03:05 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### Prerequisites

Two v5.0.0 wallets set up in a local environment. Being listening with one of them (`grin-wallet listen`) and try to send with the other wallet through cli interactive mode, as described in the following steps.

### 1. Begin interactive mode

`grin-walle

[2020-12-21 10:27] mojitoo commented on #6
OS : Mac Os Catalina
Wallet : v5 Beta 3

### Step 1 : Backup your seed

The recover command displays the existing wallet's 24 (or 12) word seed phrase.

[code]

### Step 2 : restore your seed on another device

[code]

### Step 3 : Check wallet balance

[code]

[2020-12-21 11:55] marekyggdrasil commented on #42
Thanks guys @Paouky and @mojitoo !

[2020-12-21 11:55] #42 closed, assigned to Paouky

[2020-12-21 12:02] marekyggdrasil commented on #41
@mojitoo terribly sorry for the confusion, this is `Owner API` case, could you run the wallet in listener mode and do it using api call with Python/NodeJS script?

( but I must say its nice to see something is working on Catalina... lol )

[2020-12-21 12:06] marekyggdrasil commented on #14
@goyle if it is not trouble and you still have it please share, as long as its not a private key or something else confidential it could be useful at some point. Thanks!

[2020-12-21 12:17] marekyggdrasil commented on #19
@mojitoo please include the output of command

[code]

and your environment

[code]

[2020-12-21 15:16] marekyggdrasil commented on #6
Just one comment, I think you meant your wallet is `alpha.3` not `beta.3`. Its safer to just paste output of

[code]

otherwise great work as always!

[2020-12-21 15:16] #6 closed

[2020-12-21 16:52] marekyggdrasil opened #43 "Grin Giveaway (yes really!)"
We realised giving away some Grin is a great way to motivate more people install and try out wallets. The deal is we give you a teeny tiny bit of Grin and you say thank you here 😌. Message us [on Keybase](https://keybase.io/team/grinchallenges) and check up the official [challenge announcement](https://forum.grin.mw/t/grinnode-live-winter-2020-bug-bash-challenge-and-free-grin-btc-prizes-giveaway/8

[2020-12-21 17:05] pnnaoned commented on #43
Thanks guys! : )

[2020-12-21 17:42] mojitoo commented on #36
- grin-wallet 4.0.0
- Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-21 17:43] mojitoo commented on #34
- grin-wallet 4.0.0
- Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-21 17:43] mojitoo commented on #27
- grin-wallet 4.0.0
- Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-21 17:43] mojitoo commented on #19
- grin-wallet 4.0.0
- Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-21 17:44] mojitoo commented on #18
- grin-wallet 4.0.0
- Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-21 17:44] mojitoo commented on #17
- grin-wallet 4.0.0
- Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-21 17:44] mojitoo commented on #8
- grin-wallet 5.0.0-beta.3
- Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-21 17:45] mojitoo commented on #6
grin-wallet 5.0.0-beta.3
Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-21 18:08] mojitoo commented on #41
### Prerequisites:

* Version : grin-wallet 5.0.0-rc.1

## Step 1 (Runs the wallet's local web API)

[code]
HTTP Owner successfully started.

## Create a new account with name other_account2

Before runnning the script, we need to make sure to edit the configuration.

#change to your grin owner_api sercret file
api_sercet_file = '/Users/path/.grin/main/.owner_api_secret'
#change to you wallet pass

[2020-12-21 18:25] mojitoo commented on #39
### Calculate checksum of my current seed

[code]

### Runs the wallet's local web API
[code]
HTTP Owner successfully started.

### Change password

Before runnning the script, we need to make sure to edit the configuration.

#change to your grin owner_api sercret file
api_sercet_file = '/Users/path/.grin/main/.owner_api_secret'
#change to you wallet password
wallet_password = 'oldpassword'

#call

[2020-12-21 18:26] mojitoo commented on #43
Big thanks

[2020-12-22 07:57] marekyggdrasil commented on #39
@mojitoo as usual please include outputs of `grin-wallet -V` and `uname -a`, otherwise looks good! Thanks!

[2020-12-22 08:07] mojitoo commented on #39
grin-wallet 4.0.0
Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

[2020-12-22 08:35] mojitoo commented on #41
@marekyggdrasil the last step "make transaction with new account", is it a received transaction or a send one ?

[2020-12-22 08:55] #39 closed

[2020-12-22 10:50] chandrashekar10 commented on #25
[code]

I have the following two wallets

**Sender**

[code]
**Receiver**
[code]

The `newwallet` was initalized through the following steps:

[code]

**Sending Money from the Sender using slatepack method**

[code]
The grin wallet info of the `Sender` after sending the grins

[code]

The transactions log of the `Sender` wallet

[code]

**Receiving Money by the second wallet using slatepack method

[2020-12-22 11:19] marekyggdrasil commented on #25
@chandrashekar10 thanks for this, regarding the receiver wallet not being aware of the cancellation, I see the output has line

[code]

can you instead of

[code]

try to use

[code]

and see if it manages to perform the scan and clear out the `Await Finalization` balance?

[2020-12-22 12:41] marekyggdrasil opened #44 "[GRIN-Wallet] test transaction time limit flag"
**Description**
The objective of this test is to test the transaction [time limit flag](https://docs.grin.mw/getting-started/wallet-handbook/#more-flags)

**Prerequisites**:
1. Setup two GRIN-Wallets (1) + (2)
2. send funds from wallet (1) to wallet (2) via manual Slatepacks and specify `--ttl_blocks` argument to number `N`
3. note down current block height when transaction is sent
4. wait for the

[2020-12-22 12:46] marekyggdrasil opened #45 "[GRIN-Wallet] test estimate-selection flag"
**Description**
The objective of this test is to test the [estimate-selection flag](https://docs.grin.mw/getting-started/wallet-handbook/#more-flags)

**Prerequisites**:
1. Setup two GRIN-Wallets (1) + (2)
2. send funds from wallet (1) to wallet (2) via manual Slatepacks wi `--estimate-selection` flag

The wallet (2) is only required to provide a receiver address.

**Expected result:**
The transac

[2020-12-22 12:50] marekyggdrasil opened #46 "[GRIN-Wallet] test the no_payment_proof flag"
**Description**
The objective of this test is to test the [no_payment_proof flag](https://docs.grin.mw/getting-started/wallet-handbook/#more-flags)

**Prerequisites**:
1. Setup two GRIN-Wallets (1) + (2)
2. send funds from wallet (1) to wallet (2) via manual Slatepacks do not specify any extra flags
3. note down the length of slatepack message in number of characters
4. cancel the transaction
5. a

[2020-12-22 13:07] marekyggdrasil opened #47 "[GRIN-Wallet] test the unpack command"
**Description**
The objective of this test is to test the [unpack command](https://docs.grin.mw/getting-started/wallet-handbook/#unpack) which decrypts the slatepack

**Prerequisites**:
1. Setup two GRIN-Wallets (1) + (2)
2. send funds from wallet (1) to wallet (2) via manual Slatepacks do not specify any extra flags
3. in wallet (2) run the `unpack` command and provide the slatepack received from

[2020-12-22 13:23] marekyggdrasil opened #48 "[GRIN-Wallet][Owner API] testing the issue invoice tx method"
**Description**
Testing the init send tx method from the Owner API

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Prepare two wallets (1) and (2), run wallet (2) in Owner API listener mode
2. Use [node.js](https://gist.github.com/marekyggdrasil/82716db323b34019bf02237012e0d16f) or [python](https://github.com/grinfans/grin.py/blob/main/wallet_v3.py) to run a encrypted reque

[2020-12-22 13:25] marekyggdrasil commented on #41
Please use whatever the flow you find more convenient. Both of them will be tested separately anyway in https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/issues/48 and https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/issues/29

[2020-12-22 14:47] chandrashekar10 commented on #25
[code]

**Sender**

[code]
**Receiver**
[code]

The `newwallet` was initalized through the following steps:

[code]

The details of the sender wallet using the info command

[code]

**Sending Money from the Sender using slatepack method**

[code]
The wallet info using the `info` command after using the send command:

[code]

We can see the difference between the two account Info’s.

[code]
The mon

[2020-12-22 15:10] marekyggdrasil commented on #25
Thank you @chandrashekar10 for revising this! I discussed with @Paouky and the receiver not knowing the sender has cancelled the transaction is an expected behaviour so it looks like everything is working. Thank you for great work!

[2020-12-22 15:10] #25 closed

[2020-12-22 18:49] mojitoo commented on #41
can you document the args structure i will need to provide to init_send_tx (self, args) please ?
the link seems to not work : [link](https://docs.rs/grin_wallet_api/4.0.0/grin_wallet_libwallet/types/struct.InitTxArgs.html)

[2020-12-22 19:21] mojitoo commented on #28
### Prerequisites:

* Version : grin-wallet 5.0.0 RC1
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

## Step 1 (Runs the wallet's local web API)

[code]
HTTP Owner successfully started.

## Create a new wallet "wallet2"

Before runnning the script, we need to make sure to edit the configurati

[2020-12-23 00:53] goyle commented on #5
## Description
Activate archive mode in GRIN-Node.

## Prerequisites
Run a GRIN-Node and make the following changes to `grin-server.toml` to make it an archive node.

`grin-server.toml`
[code]

**Testing Environment**: virt-manager and qemu/kvm

**Operating System**: Debian 10

**System Information**: `Linux debian 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux`

**Grin Ver

[2020-12-23 08:44] mojitoo commented on #47
### Prerequisites:

* Version : grin-wallet 5.0.0 RC1
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

* wallet 1 : grin12wktxlyfx62wx48ldn55katd8zm5d6qfa6mupt9r4uul8eqxagsqct3je5
* wallet 2 : grin1jdj2w0fh8haq9pfuvjmjrev5f4gs34n4n7fnsfmuwf7j09x4v9ws79nq8d

## Step 1 : send funds from wallet (1

[2020-12-23 16:48] marekyggdrasil commented on #47
Looking good! Thanks!

[2020-12-23 16:48] #47 closed, assigned to mojitoo

[2020-12-23 17:14] mojitoo commented on #46
### Prerequisites:

* Version : grin-wallet 5.0.0 RC1
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

* wallet 1 : grin12wktxlyfx62wx48ldn55katd8zm5d6qfa6mupt9r4uul8eqxagsqct3je5
* wallet 2 : grin1jdj2w0fh8haq9pfuvjmjrev5f4gs34n4n7fnsfmuwf7j09x4v9ws79nq8d

## Step 1 : send funds from wallet (1

[2020-12-24 03:29] marekyggdrasil commented on #41
@mojitoo there you go, here's the [link to the docs](https://docs.rs/grin_wallet_api/4.0.0/grin_wallet_api/struct.Owner.html#arguments-8), let me know if there is anything else I can help you with.

[2020-12-24 03:31] marekyggdrasil commented on #28
@bladedoyle , @mojitoo made some suggestions for the API wrapper, would you review and if you find them reasonable, make update?

https://github.com/grinfans/grin.py/blob/df41a7f51b44481eb8675433feaa67b5ce071f14/wallet_v3.py#L435

[2020-12-24 10:14] marekyggdrasil commented on #46
Excellent!

[2020-12-24 10:14] #46 closed, assigned to mojitoo

[2020-12-24 11:04] mojitoo commented on #44
OS : Mac os Catalina
Grin wallet version : 5.0.0-rc.1

### Step 1 : send funds from wallet (1) to wallet (2) using --ttl_blocks flag
[code]
block height when transaction is sent was 1015981 and --ttl_blocks was 100.

100 blocks passed, when i check txs, we can see that the transaction was cancelled automatically
[code]

### Step 2 : 100 blocks passed, try to receive the transaction
[code]
### Step

[2020-12-25 04:20] marekyggdrasil commented on #40
@AhmadRezaSaadatkhah please try to use [this python script](https://github.com/grinfans/grin.py/blob/df41a7f51b44481eb8675433feaa67b5ce071f14/wallet_v3.py) and run [this method](https://github.com/grinfans/grin.py/blob/df41a7f51b44481eb8675433feaa67b5ce071f14/wallet_v3.py#L261-L269). It should prepare a valid request with valid encrypted payload for you. Let me know if you need more help!

[2020-12-25 06:55] marekyggdrasil commented on #44
Awesome!

[2020-12-25 06:55] #44 closed, assigned to mojitoo

[2020-12-25 06:56] marekyggdrasil commented on #28
Sorry, misunderstood initially @mojitoo. Closing. Thanks!

[2020-12-25 06:56] #28 closed

[2020-12-25 08:30] ndcroos commented on #16
### Prerequisites:

    * grin-wallet 5.0.0-beta.4
    * grin node 5.0.0-rc.1
    * Linux debian 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux
    * Tor version 0.4.4.5, compiled with zstd 1.1.2, running with zstd 1.3.8.
    * wallet 1 address (account name: default): grin1cwutd4sr0t0ac62764r9vz6wkgpmnmpheynh5tw56zvczvh8apdszxp25w
    * wallet 2 address (account name: issu

[2020-12-25 09:56] marekyggdrasil commented on #16
@ndcroos provided his results via secret gist. No vulnerabilities were discovered so its ok to disclose the content. Great work!

https://gist.github.com/ndcroos/48447f6c0a14e81709e6de5b7acd1857#gistcomment-3572103

[2020-12-25 09:56] #16 closed

[2020-12-25 10:12] ndcroos commented on #16
I added information about the used Tor version in my comment above.

[2020-12-25 11:10] mojitoo commented on #33
* grin-wallet 5.0.0-rc.1
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

### Runs the wallet's local web API
[code]
HTTP Owner successfully started.

### get stored transactions method

Before runnning the script, we need to make sure to edit the configuration in wallet_v3.py
please note that

[2020-12-25 21:55] ndcroos commented on #29
(Using Python)
Regarding point .3, After running init_send_tx, should I then also run receive_tx from the foreign API and the finalize_tx from the Owner API?

[2020-12-26 06:19] marekyggdrasil commented on #5
@phyro and @DavidBurkett can you help evaluate if result looks ok? To me it looks fine. @goyle great job documenting your result, it is so well written it could be used as an tutorial for someone, thanks for this! feel free to grab another issue!

[2020-12-26 06:19] #5 closed

[2020-12-26 09:09] mojitoo commented on #37
* grin-wallet 4.0.0
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

### Run GRIN-Wallet in Owner API listener mode
[code]
### Run scan method (chain height =0 )
Add the below to wallet_v3.py and run it
pp.pprint(wallet.scan())
[code]
in this first example, scan will start from chain height 0
#

[2020-12-26 13:31] ndcroos commented on #29
### Prerequisites:
    The wallets are created on the same device, in separate directories.
    (So they use the same grin-wallet and node versions.)
    * grin-wallet 5.0.0-beta.4
    * grin node 5.0.0-rc.1
    * Linux debian 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux
    * wallet 1 address: grin1cwutd4sr0t0ac62764r9vz6wkgpmnmpheynh5tw56zvczvh8apdszxp25w
    * wallet 2

[2020-12-26 23:52] JitrZ commented on #40
OS: Windows 10

I opened 3 CMDs! all go to the path of grin folder with 3 files in: grin.exe, grin-wallet.exe and wallet_v3.py
Running the grin node in one CMD and grin node window appears:
`grin`

Then in another CMD,
Checking the grin wallet version:
`grin-wallet -V`
`grin-wallet 5.0.0-beta.4`
Then opening grin wallet owner api that ask your wallet password and the listener will start (If you ha

[2020-12-27 01:13] goyle commented on #22
## Description
The [Grin node v4.1.0 release switched to protocol version 1000](https://forum.grin.mw/t/grin-node-v4-1-0-released/7840), which made some slight changes to the p2p message formats. When connecting to v4.0.x nodes (protocol version 2 or 3), the v5.0.x node should use the old protocol version when communicating with the v4.0.x peer. To prevent splitting the network during the hard for

[2020-12-27 02:28] goyle commented on #22
**All peer data logs used in testing**: [peer_data_logs.zip](https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/files/5744028/peer_data_logs.zip)

[2020-12-27 04:32] marekyggdrasil commented on #22
Excellent work @goyle ! Thank you for this !

[2020-12-27 04:32] #22 closed

[2020-12-27 11:45] goyle commented on #12
## Description
Give the wallet the wrong foreign API password.

## Prerequisites
Setup a Grin-Wallet.

Give the wallet the wrong foreign API password, run grin-wallet info. verify that the error includes the cause (authorization denied).

## Expected Result
It should fail. Expect the error message to not indicate that password is incorrect, instead it should report `ResponseError error: Cannot par

[2020-12-27 13:35] marekyggdrasil commented on #40
Great work! Thanks for checking that!

[2020-12-27 13:35] #40 closed

[2020-12-27 13:39] marekyggdrasil commented on #29
Well done! And thanks for the gist report! Closing.

[2020-12-27 13:39] #29 closed

[2020-12-27 13:42] marekyggdrasil commented on #37
Looks like the expected result is reproduced. Thanks! @bladedoyle feel free to leave some comments if you think of something. Closing.

[2020-12-27 13:42] #37 closed

[2020-12-27 13:47] marekyggdrasil commented on #12
Thanks for checking @goyle I will attempt to reproduce this.

[2020-12-27 13:47] #12 closed

[2020-12-27 14:45] marekyggdrasil commented on #33
Nice! Thanks! Closing.

[2020-12-27 14:45] #33 closed

[2020-12-27 16:49] JitrZ commented on #3
It seems this way of assigning a value doesn't work in TOML.
api_http_addr = "grinwallet:3413"

I'm not so experienced but try different things and test opening grin node, It just do nothing. There is no difference if it would be like this for example:
api_http_addr = "sdfs:3413"
:D or like this:
host = "127.0.0.1"
api_http_addr = "host:3413"

[2020-12-27 17:44] JitrZ commented on #9
For this test, grin-node must get connected to grinnode.live? or the APIs are accessible in own nodes and how?

[2020-12-27 17:54] ndcroos commented on #48
### Prerequisites:
    The wallets are created on the same device, in separate directories.
    (So they use the same grin-wallet and node versions.)
    * grin-wallet --version: grin-wallet 5.0.0-beta.4
    * grin --version: grin node 5.0.0-rc.1
    * Linux debian 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux
    * wallet 1 address: grin1cwutd4sr0t0ac62764r9vz6wkgpmnmphey

[2020-12-28 02:02] marekyggdrasil commented on #41
@mojitoo I can see the updated in the comment. Well done! Closing.

[2020-12-28 02:02] #41 closed

[2020-12-28 02:04] marekyggdrasil commented on #48
Well done @ndcroos !

[2020-12-28 02:04] #48 closed, assigned to ndcroos

[2020-12-28 02:10] marekyggdrasil commented on #31
Has been tested in https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/issues/29 and https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/issues/48, marking it as duplicate and closing.

[2020-12-28 02:10] #31 closed

[2020-12-28 02:18] marekyggdrasil commented on #3
@AhmadRezaSaadatkhah have you tried editing your `/etc/hosts` file? Please check this tutorial

https://www.tecmint.com/setup-local-dns-using-etc-hosts-file-in-linux/

[2020-12-28 07:38] JitrZ commented on #3
@marekyggdrasil Yes, I did it first. I did step by step. Maybe I did something wrong, but can't see it. I have windows 10, I edit the hosts file in system by adding this line:
127.0.0.1     grinwallet
and then in step2 edit api_http_addr variable but it seems as TOML is a minimal language it couldn't understand that "grinwallet" inside "grinwallet:3413" refers to a IP in hosts file!!

[2020-12-28 09:16] marekyggdrasil commented on #3
I think for windows 10 your local DNS file should be

[code]

ref: https://support.4it.com.au/article/how-to-add-a-dns-entry-manually-to-a-windows-computer/

is that the file you edited?

[2020-12-28 12:08] JitrZ commented on #3
Yes, added this line:
127.0.0.1           grinwallet                  #grinwallet

[2020-12-28 12:57] marekyggdrasil opened #49 "[GRIN-Wallet][Foreign API] test the build_coinbase API method"
**Description**
Goal of this issue is to test the [build_coinbase API method](https://docs.rs/grin_wallet_api/4.0.0/grin_wallet_api/trait.ForeignRpc.html#tymethod.build_coinbase) corresponding to the
[build_coinbase method](https://docs.rs/grin_wallet_api/4.0.0/grin_wallet_api/struct.Foreign.html#method.build_coinbase)

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Run GRI

[2020-12-28 12:59] marekyggdrasil opened #50 "[GRIN-Wallet][Foreign API] test the check_version API method"
**Description**
Goal of this issue is to test the [check_version API method](https://docs.rs/grin_wallet_api/4.0.0/grin_wallet_api/trait.ForeignRpc.html#tymethod.check_version)

**Prerequisites**

1. GRIN-Node
2. GRIN-Wallet

**Test procedure**

1. Run GRIN-Wallet in Foreign API listener mode
2. Perform an API request using cURL to [check_version API method](https://docs.rs/grin_wallet_api/4.0.0/g

[2020-12-28 13:05] marekyggdrasil opened #51 "[GRIN-Node][Owner API 2.0] test the ban_peer API method"
**Description**
Goal of this issue is to test the [ban_peer API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.ban_peer)

**Prerequisites**

1. GRIN-Node

**Test procedure**

1. Run GRIN-Node in Owner API listener mode
2. Pick one of the peers and perform an API request using cURL to [ban_peer API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tym

[2020-12-28 13:08] marekyggdrasil opened #52 "[GRIN-Node][Owner API 2.0] test the compact_chain API method"
**Description**
Goal of this issue is to test the [compact_chain API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.compact_chain)

**Prerequisites**

1. GRIN-Node

**Test procedure**

1. Run GRIN-Node in Owner API listener mode
2. Check how much memory is occupied by the chain data
3. Run the [compact_chain API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.Ow

[2020-12-28 13:10] marekyggdrasil opened #53 "[GRIN-Node][Owner API 2.0] test the get_connected_peers API method"
**Description**
Goal of this issue is to test the [get_connected_peers API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_connected_peers)

**Prerequisites**

1. GRIN-Node

**Test procedure**

1. Run GRIN-Node in Owner API listener mode
2. Run the [get_connected_peers API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_connected_pe

[2020-12-28 13:12] marekyggdrasil opened #54 "[GRIN-Node][Owner API 2.0] test the get_peers API method"
**Description**
Goal of this issue is to test the [get_peers API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_peers)

**Prerequisites**

1. GRIN-Node

**Test procedure**

1. Run GRIN-Node in Owner API listener mode
2. Run the [get_connected_peers API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_peers)

**Expected result:**

Ou

[2020-12-28 13:13] marekyggdrasil opened #55 "[GRIN-Node][Owner API 2.0] test the get_status API method"
**Description**
Goal of this issue is to test the [get_status API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_status)

**Prerequisites**

1. GRIN-Node

**Test procedure**

1. Run GRIN-Node in Owner API listener mode
2. Run the [get_connected_peers API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_status)

**Expected result:**

[2020-12-28 13:16] marekyggdrasil opened #56 "[GRIN-Node][Owner API 2.0] test the unban_peer API method"
**Description**
Goal of this issue is to test the [unban_peer API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.unban_peer)

**Prerequisites**

1. GRIN-Node

**Test procedure**

1. Perform steps corresponding to https://github.com/Grinnode-live/2020-grin-bug-bash-challenge/issues/51
2. Unban the banned peer by running [unban_peer](https://docs.rs/grin_api/4.1.1/grin_

[2020-12-28 13:18] marekyggdrasil opened #57 "[GRIN-Node][Owner API 2.0] test the validate_chain API method"
**Description**
Goal of this issue is to test the [validate_chain API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.validate_chain)

**Prerequisites**

1. GRIN-Node

**Test procedure**

1. Run GRIN-Node in Owner API listener mode
2. Run the [validate_chain API method](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.validate_chain)

**Expected res

[2020-12-28 13:33] marekyggdrasil commented on #12
@goyle I'm afraid this issue was not valid. The foreign API is not protected https://docs.rs/grin_wallet_api/4.0.0/grin_wallet_api/trait.ForeignRpc.html and it should not affect the performance of the wallet `grin-wallet info`. I think I have misunderstood the issue, terribly sorry for this, of course you will be rewarded for your test work regardless of that.

Maybe @MCM-Mike could elaborate what

[2020-12-28 14:54] marekyggdrasil commented on #3
Oki, I recommend to try the following

1. prove reason why it doesnt work is TOML validation, you can do it by finding appropriate entry in logs that indicate that
2. make an API call to public API using the custom hostname and determine if it is reachable or not

alternatively, there is a possibility that it just doesn't make sense to chose different listening IP address, maybe API always listen

[2020-12-28 15:22] JitrZ commented on #3
_/ets/hosts_ completely edited with adding this line:
`127.0.0.1 grinwallet #grinwallet`

_grinserver.toml_ file edited with editing the _api_http_addr_ variable:
`api_http_addr = "grinwallet:3413"`

I run _grin_ command on cmd but nothing happens and checked the _grinserverlogs_:

`20201228 18:43:38.976 INFO grin_util::logger - log4rs is initialized, file level: Info, stdout level: Warn, min. lev

[2020-12-28 15:29] marekyggdrasil commented on #3
Thank you
[code]
this indicates the parsing error, well done. I think it should not cause an error, a custom local hostname is perfectly valid and should work. I will try to reproduce.

[2020-12-28 15:31] marekyggdrasil commented on #3
in the meantime, just to complete the task, can you set it to your local network IP address and check if it is reachable in the local network? I think that could allow you to finish up the test without public IP server.

Some instructions for you how to find the local network IP: https://kb.netgear.com/20878/Finding-your-IP-address-without-using-the-command-prompt

[2020-12-28 15:53] JitrZ commented on #3
Ok, without editing the _/etc/hosts_ file, I go directly to _grinserver.toml_ file and edit the _api_http_addr_ to my local network IP address like this:

`api_http_address = "***:3413"`

and in cmd, run grin node. For the first it runs and closed, here is the log:

[code]

But the next time, it remains open, here is the log:
[code]

[2020-12-28 15:56] marekyggdrasil commented on #3
The log looks correct, listener is running and node is syncing. If you manage to make an API call to the listener under `10.202.0.2:3413` issue will be done!

[2020-12-28 15:57] JitrZ commented on #3
I don't know much! But how you handle _api_http_addr_ variable in the code? I mean maybe **TOML** couldn't understand the _"grinwallet"_ inside this variable refers to _127.0.0.1_ according to what I wrote in hosts file or the code that process this variable couldn't handle this!

[2020-12-28 15:59] JitrZ commented on #3
I even reach this during my research!
https://github.com/toml-lang/toml/issues/445

[2020-12-28 20:37] JitrZ commented on #3
After running grin node. run this command:
`curl -v -d '{"jsonrpc": "2.0", "method": "get_version", "id": 1, "params":[]}' http://10.202.0.2:3413/v2/foreign`

The response in cmd is like this:
`* Rebuilt URL to: 2.0,/`
`* Could not resolve host: 2.0,`
`* Closing connection 0`
`curl: (6) Could not resolve host: 2.0,`
`* Rebuilt URL to: method:/`
`* Could not resolve host: method`
`* Closing connect

[2020-12-29 12:01] marekyggdrasil commented on #3
hmmm I see you are getting `401 Unauthorized`, I just checked and it looks like it is using basic authentiction with `grin` as username

please try to run
[code]

ref: https://docs.grin.mw/wiki/api/node-api/

[2020-12-29 12:38] mojitoo commented on #35
* grin-wallet 5.0.0-rc.1
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

### Runs the wallet's local web API
[code]
HTTP Owner successfully started.

### retrieve_payment_proof as the sender (newaccount is the account name)

wallet.open_wallet("newaccount", wallet_password)
    wallet.set_acti

[2020-12-29 12:45] marekyggdrasil commented on #35
Payment proof as well as verification of sender and recipient (booleans) look good. Thanks for great work! Closing.

[2020-12-29 12:45] #35 closed

[2020-12-29 13:10] JitrZ commented on #3
ok, run the command with replacing _api_key_ with _foreign_api_secret_ and here's the result:

[code]

and here's what happened at log file:

[code]

[2020-12-29 13:50] JitrZ commented on #43
Thank you! ::grin::

[2020-12-29 14:44] johndavies24 commented on #45
https://gist.github.com/johndavies24/5dc1678096c24fd33210cc893ae083f5

Cant really figure out how to assign this to myself, the issues didnt get cloned when I cloned the repo to try to PR my assignment.  I am sure this has been explained, my bad!

[2020-12-29 15:16] johndavies24 commented on #45
Also no idea why my markdown syntax isnt working on my gist, but the gist is there 😂

[2020-12-29 18:44] bladedoyle opened #58 "Node starts API and stratum servers too soon"
The grin node starts API and stratum servers before its ready to handle requests.
The result is confusing because the connections are accepted but result in an error, so the node seems broken at that point.  For example, the wallet reports this:

[code]

Suggested fix:   Servers should not start to accept connections before they are ready to service the requests.  That is, The node should be ready

[2020-12-29 18:58] bladedoyle opened #59 "Self-Send over ToR fails"
There are several reasons we need to self-send.  Consolidating outputs.  Adding a bit of deniable plausibility to input/output linking, etc.  We used to be able to do this though the http listener.

I am unable to send to myself over Tor:
[code]

The transaction is not completed.  Its necessary to cancel both parts:
[code]
[code]

[2020-12-29 22:33] bladedoyle commented on #15
This is confirmed fixed in rc1

[2020-12-30 03:06] marekyggdrasil commented on #45
@johndavies24 thanks for the test and @Paouky thanks for helping keep track of it!

looks like the dry-run performed correctly, thanks for checking that! and as for markdown syntax, the reason why it didn't render is missing `.md` file extension, could you add it there @johndavies24 ?

reviewed and closing!

[2020-12-30 03:06] #45 closed, assigned to johndavies24

[2020-12-30 03:13] marekyggdrasil commented on #3
@AhmadRezaSaadatkhah I'm curious why the request body is invalid, it is basically copy of payload from [the docs](https://docs.rs/grin_api/4.1.1/grin_api/trait.ForeignRpc.html#tymethod.get_version), I am going to file it as a bug for you. As for this issue, you have definitely proved that node is responding and listening on your local IP address, so objective of this case is achieved! Also, well d

[2020-12-30 03:13] #3 closed

[2020-12-30 08:56] ndcroos commented on #50
### Prerequisites:
    * grin-wallet --version: grin-wallet 5.0.0-beta.4
    * grin --version: grin node 5.0.0-rc.1
    * Linux debian 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux
    * wallet address: grin1cwutd4sr0t0ac62764r9vz6wkgpmnmpheynh5tw56zvczvh8apdszxp25w
    * Python version 3.7.3
    * Python script needed: https://github.com/grinfans/grin.py/blob/main/wallet_

[2020-12-31 04:37] goyle commented on #26
<p align="center">
  <h1 align="center">Grin Community</h1>
  <p align="center">A comprehensive list of Grin-related public communication channels.<p>
  </p>
</p>

## Table of Contents
- [Grin Forum](#grin-forum)
- [Grincoin Keybase](#grincoin-keybase)
- [Discord](#discord)
  - [Grin Community Discord](#grin-community-discord)
  - [GrinHub Discord](#grinhub-discord)
- [Reddit](#reddit)
  - [Grinco

[2020-12-31 04:52] goyle commented on #26
If there is any more channels, let me know and I can add it to the list.

[2020-12-31 06:16] marekyggdrasil commented on #26
Awesome work! Thanks @goyle !

[2020-12-31 06:16] #26 closed

[2020-12-31 06:19] marekyggdrasil commented on #4
Closing to shorten the list for testers

[2020-12-31 06:19] #4 closed

[2020-12-31 06:21] marekyggdrasil commented on #9
@AhmadRezaSaadatkhah no, this test has to be performed with the most recent version of the locally running and synced node.

[2020-12-31 06:25] marekyggdrasil commented on #50
Good work @ndcroos !

[2020-12-31 06:25] #50 closed, assigned to ndcroos

[2020-12-31 08:33] ndcroos commented on #51
When I try to perform a request with curl I get an 401 error.
This is what I run. 122.51.97.197:3514 was one the peers I saw in my Grin node TUI.
[code]
At the moment I haven't found the cause of my error. Maybe someone else can work on this issue further.

[2020-12-31 08:58] goyle commented on #53
## Description
Goal of this issue is to test the [`get_connected_peers`](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_connected_peers) API method.

## Prerequisites

1. GRIN-Node

## Test Procedure

1. Run GRIN-Node in Owner API listener mode.
1. Run the [`get_connected_peers`](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_connected_peers) API

[2020-12-31 09:02] marekyggdrasil commented on #53
Great work! Thanks @goyle !

[2020-12-31 09:02] #53 closed, assigned to goyle

[2020-12-31 09:15] goyle commented on #43
Thank you! I enjoy the challenges a lot!

[2020-12-31 15:03] goyle commented on #52
## Description
Goal of this issue is to test the [`compact_chain`](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.compact_chain) API method.

## Prerequisites
1. GRIN-Node

## Test Procedure
1. Run GRIN-Node in Owner API listener mode
1. Check how much memory is occupied by the chain data
1. Run the [`compact_chain`](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html

[2021-01-01 04:43] marekyggdrasil commented on #52
Excellent results! And we even have a bash script! Great work @goyle !

[2021-01-01 04:43] #52 closed, assigned to goyle

[2021-01-01 05:19] marekyggdrasil commented on #51
@ndcroos in your request have you replaced `<owner api secret>` with an actual value of your `owner_api_secret`?

[2021-01-01 05:54] goyle commented on #55
## Description
Goal of this issue is to test the [`get_status`](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_status) API method.

## Prerequisites

1. GRIN-Node

## Test Procedure

1. Run GRIN-Node in Owner API listener mode
1. Run the [`get_status`](https://docs.rs/grin_api/4.1.1/grin_api/trait.OwnerRpc.html#tymethod.get_status) API method.

## Expected Result

Output

[2021-01-01 05:55] marekyggdrasil commented on #55
Thanks @goyle !

[2021-01-01 05:55] #55 closed, assigned to goyle

[2021-01-01 06:11] marekyggdrasil commented on #3
Little update, @AhmadRezaSaadatkhah reported that problem was due to different `cURL` syntax on windows. Mystery solved!

[2021-01-01 06:55] ndcroos commented on #51
Yes, I did.

[2021-01-01 07:44] JitrZ commented on #49
_issue #49_
Os: _Windows 10_ (Note that I'm using windows CMD and that's why cURL commands are a little different from linux!)
Running Grin node: _Version 5.0.0-rc.1_
Running grin wallet listener _Version v5.0.0-beta.4_

`grin-wallet listen`

[code]

Perform the API request using _cURL_ to _build_coinbase_ API method according to [the rust docs about ForeignApi](https://docs.rs/grin_wallet_api/4.0

[2021-01-01 07:50] JitrZ commented on #9
Issue _#9_
Os: _Windows 10_ (Note that I'm using windows CMD and that's why cURL commands are a little different from linux!)
Running Grin node: Version 5.0.0-rc.1

Couldn't find much docs about node api as it's not supported anymore in newer versions but according to [this link in github](https://github.com/mimblewimble/grin/blob/master/doc/api/node_api_v1.md#get-status)
and [this one in forum](h

[2021-01-01 07:58] goyle commented on #59
## Description
There are several reasons we need to self-send. Consolidating outputs. Adding a bit of deniable plausibility to input/output linking, etc. We used to be able to do this though the http listener.

## Prerequisites
1. GRIN-Node
1. GRIN-Wallet

## Test Procedure
I am unable to send to myself over Tor:

[code]

The transaction is not completed. Its necessary to cancel both parts:

[code

[2021-01-01 09:45] mojitoo commented on #54
* grin v 4.1.1
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

### Step 1 : Run GRIN-Node in Owner API listener mode

[code]

### Step 2 : Run the get_connected_peers API method
[code]

[2021-01-01 09:47] mojitoo commented on #57
* grin v 4.1.1
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

### Step 1 : Run GRIN-Node in Owner API listener mode

[code]

### Step 2 : Run the validate_chain API method
[code]

[2021-01-01 11:26] marekyggdrasil commented on #54
Looking good! Thanks!

[2021-01-01 11:26] #54 closed, assigned to mojitoo

[2021-01-01 11:28] marekyggdrasil commented on #57
Looks like its working. Thanks for checking!

[2021-01-01 11:28] #57 closed, assigned to mojitoo

[2021-01-01 11:30] marekyggdrasil commented on #9
`404 Not Found`, looks like `v1` is disabled, thanks for checking!

[2021-01-01 11:30] #9 closed

[2021-01-01 11:31] marekyggdrasil commented on #49
Looks good! Thanks for checking!

[2021-01-01 11:31] #49 closed, assigned to JitrZ

[2021-01-01 12:31] mojitoo commented on #51
in "params": ["122.51.97.197:3514"] you need to pay attention to the port number , try 3413 instead of 3514

[2021-01-01 12:38] ndcroos commented on #51
Thanks, using this I get a response back. My results will follow.
[code]

[2021-01-01 12:38] mojitoo commented on #56
* grin v 4.1.1
* Darwin MacBook-Pro-de-Workstation.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

### Step 1 : Run GRIN-Node in Owner API listener mode

[code]

### Step 2 : get connected peers
[code]
### Step 2 : ban peer 85.126.197.236:3414
[code]
### Step 3 : get peer and expect 85.126.197.236:3414 to be banned
[code]

### S

[2021-01-01 13:10] ndcroos commented on #51
### Prerequisites:
    * grin-wallet 5.0.0-beta.4
    * grin node 5.0.0-rc.1
    * Linux debian 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux
    * wallet address: grin1cwutd4sr0t0ac62764r9vz6wkgpmnmpheynh5tw56zvczvh8apdszxp25w

## Run GRIN-Node in Owner API listener mode

Run wallet (1) in Owner API listener mode in a separate window. This starts an HTTP Owner API server.

[2021-01-01 14:30] marekyggdrasil commented on #51
Well done, indeed `122.51.97.197:3513` is gone. Thanks for checking!

[2021-01-01 14:30] #51 closed, assigned to ndcroos

[2021-01-01 14:37] marekyggdrasil commented on #32
@ndcroos has submitted his results via secret gist, closing this issue! Thanks for good work, results are recorded!

[2021-01-01 14:37] #32 closed

[2021-01-01 15:32] marekyggdrasil commented on #56
@mojitoo result looks good, closing and thanks for checking!

I'm wondering, why when you `get_peer` with IP `85.126.197.236:3414` in the response the `addr` field is `51.91.154.89:4514`? Isn't that a bit strange?

[2021-01-01 15:32] #56 closed, assigned to mojitoo

[2021-01-01 15:35] mojitoo commented on #56
i edited my comment after doing a second test and i forget to change some details. will correct this

[2021-01-01 23:38] marekyggdrasil commented on #7
@ndcroos provided his report in [secret gist](https://gist.github.com/ndcroos/0c36c88638d083986fb85679e1d98f21). Thank you for the good work!

[2021-01-01 23:38] #7 closed

[2021-01-01 23:44] marekyggdrasil commented on #59
Awesome! Reproduced! Great work @goyle and @bladedoyle feel free to leave comments if needed! Closing

[2021-01-01 23:44] #59 closed, assigned to goyle

[2021-01-02 01:21] goyle commented on #14
Sorry, I missed this somehow. It was a good thing I still have this saved somewhere!

[2021-01-02 01:21] goyle commented on #14
## Grin Node v5.0.0-rc.1

## Description
Sync a GRIN-Node from scratch. This test case will be for **Debian 10**.

*System Information*: `Linux debian 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux`
\
*Testing Environment*: virt-manager and Qemu/KVM

## Prerequisites
Grin node version will be **v5.0.0-rc.1**. Archive mode is disabled. Debug log is enabled. This will require

[2021-01-02 04:42] goyle commented on #15
*Note: As per @bladedoyle's comment, this is confirmed fixed in `rc1`. I will test to see if I can reproduce the fix.*

## Environment
**OS**: Debian 10\
**Grin Node**: `grin 5.0.0-rc.2` \
**Grin Wallet**: `grin-wallet 5.0.0-rc.1` \
**System Info**: `Linux debian3 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux`

## Steps
### 0: Building the node and wallet
<details>
    <su

[2021-01-02 05:06] marekyggdrasil commented on #15
Thanks for checking that, @goyle !

[2021-01-02 05:06] #15 closed

[2021-01-02 11:48] JitrZ commented on #3
OS: _Windows 10_ (I'm running the commands in windows cmd, so note the difference between _cURL_ commands in linux and windows!)

I edit the _grinserver.toml_ file and edit the variable _api_http_addr_; replace the 127.0.0.1 with my local IP and then run grin node.
It synced completely and the status goes to running.
After that, I've run this command in cmd:
`curl --user grin:<foreign_api_secret>

[2021-01-04 07:16] marekyggdrasil commented on #10
My `grin-node 5.0.0-rc.1` properly synced and is running on testnet. I also initiated a test wallet with `grin-wallet 5.0.0-rc.1` however I am unable to reach the local node due to https://github.com/mimblewimble/grin-wallet/issues/561

Looking for an alternate solution.

[2021-01-14 20:55] bladedoyle commented on #58
Filed this as https://github.com/mimblewimble/grin/issues/3546

[2021-01-14 20:55] #58 closed, assigned to nobody

[2021-01-14 20:56] bladedoyle commented on #59
https://github.com/mimblewimble/grin-wallet/issues/567